$highlight: red;
/* highlight selection */
// .data-row .colSelected, .header-row .colSelected {
// 	background-color: red;
// }
// .rowSelected {
// 	background-color: red;
// }


.colSelected {
    background-color: red;
}

.rowSelected {
    background-color: #DCDCDC;
    .colSelected.cellSelected {
        background-color: red;
    }
}

// .colSelected.cellSelected {
//     background-color: red;
// }

// .rowSelected {
//     background-color: red;
// }