/* * {
	font-family: 'Libre Franklin', sans-serif;
} */

/* body {
	background-color: transparent;
} */


.error-message {
	color: red;
	display: flex;
	justify-content: center;
}

.query-item {
	padding-right: 0.3em;
	display: flex;
}

.fa-table {
	font-size: 1em;
	margin-right: 0.5em;
}

.fa-edit {
	font-size: 1.5em;
}

.fa-trash-alt {
	font-size: 1.5em;
	margin: 0.2em;
}

/* carousel */
#carousel-demo {
	background-color: #005b96;
	color: #b3cde0;
	font-size: 2em;
}

.carousel-item > p{
	color: #1B1B1B;
	font-size: 0.6em;
}

.carousel-item > h1 {
	color: #1B1B1B;
	text-align: center;
}


table {
	/* font-family: 'Libre Franklin', sans-serif; */
	border: 0;
	margin-top: -0.4em;
}


.new-table-form {
	border-color: #141414;
	border-style: solid;
}

thead tr th {
	background-color: #363636;
}

th input.input {
	background-color: transparent;
	color: #FFFFFF;
	border: 0;
}

th input.svg {
	background-color: #472121;
}

tbody tr td {
	background-color: #DCDCDC;
}

td input.input {
	background-color: transparent;
	border: 0;
}


input {
	text-align: center;
	/* font-family: 'Libre Franklin', sans-serif; */
}

.edit-row-col {
	padding-right: 1em;
}

.pan-container {
	z-index: 0;
}

.react-draggable {
	z-index: 3;
}

.react-draggable .handle {
	z-index: 5;
	padding: 30px;
}

.react-draggable table {
	z-index: 5;
}

/* div.react-draggable {
	background-color: #363636;
} */

.delete-button {
	display: none;
}

/* .border {
	border: 0.5px solid #1B1B1B;
} */


.field.is-grouped {
	margin-left: 1rem;
}

.button.is-normal {
	margin-left: 0.2rem;
}

div.box {
	overflow: hidden;
}


input.input {
	width: 15em;
}

.table th:not([align]) {
	text-align: center;
}

div.select {
	width: 7em;
}

select {
	width: 7em;
}

main.box {
	z-index: 2;
}

section.modal-card-body {
	background-color: #DCDCDC;
}

input.input.new-table {
	background-color: #FFFFFF;
}

div.box.container {
	background-color: transparent;
}

#drag-icon {
	background-color:#363636;
	color: #DCDCDC;
	padding: 0.3em;
	width: 10em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.table th {
	border: 0;
}

.zoom-control {
	display: inline-block;
}

.navbar {
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
}

.box {
	background-color: transparent;
}

#query-section {
	padding-bottom: 0;
	padding-top: 0.7em;
}