html {
	font-family: 'Libre Franklin', sans-serif;
}

body {
	background-image: linear-gradient(#0b87da, #eaeff2)
}

/* header and navigation */
#nav-title {
	color: #011739;
	font-family: 'Fugaz One', cursive;
	font-size: 6em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-top: 0.5em;
	text-align: center;
	text-shadow: 3px 3px 4px #005b96;
}

#sub-nav-bar {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.sub-nav-elements {
	align-items: center;
	display: flex;
	justify-content: left;
}

.error-message {
	color: red;
	display: flex;
}

.query-item {
	padding-right: 0.3em;
}

.fa-table {
	font-size: 1em;
	margin-right: 0.5em;
}

.fa-edit {
	font-size: 1.5em;
}

.fa-trash-alt {
	font-size: 1.5em;
	margin: 0.2em;
}

.button {
	background-color:#03396c;
	border: none;
	color:#b3cde0;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: bold;
	margin-right: 0.5em;
	padding: 0.7em;
}

.create-table-button {
	font-size: 1.1em;
	line-height: 1.1em;
	margin: 1.2em;
	text-shadow: 3px 3px 4px #005b96;
}

.add-button {
	border-radius: 10px;
	font-size: 1em;
}

.input-query {
	font-size: 1em;
	height: 2.2em;
	margin-right: 0.3em;
}

.query-tags {
	color: #03396c;
	font-size: 1.5em;
}

.dropdown-box {
	height: 3.1em;
}

/* carousel */
#carousel-demo {
	background-color: #005b96;
	color: #b3cde0;
	font-size: 2em;
}

.carousel-item > p{
	color: #011739;
	font-size: 0.6em;
}

.carousel-item > h1 {
	color: #011739;
	text-align: center;
}

/* tables */

.new-table-item {
	background-color: transparent;
	border-style: none;
}

/* table {
	box-shadow: 2px 2px 3px #005b96;
} */



table.schema-table tbody > tr > td, thead {
	border: 1px solid #011f4b;
}

table.create-table, tr, td {
	border: 1px solid #011f4b;
}

table {
	font-family: 'Libre Franklin', sans-serif;
	margin: 3em;
}

th, td {
	padding: 0.5em;
}

th.table-title {
	background-color:#03396c;
	color:#b3cde0;
	font-size: 1.2em;
	text-align: center;
}


/* .data-row :hover {
	border-color: #011f4b;
	border-width: 0.4em;
} */

.header-row {
	background-color: #005b96;
	color:#011f4b;
	font-weight: bold;
}

.data-row {
	background-color:#b3cde0;
	color:#011f4b;
}

.new-table-form {
	border-color: #011f4b;
	border-style: solid;
	display: flex;
	justify-content: flex-end;
}

/* highlight selection */
.data-row .colSelected, .header-row .colSelected {
	border-color: #011f4b;
	border-width: 0.4em;
}

input {
	text-align: center;
}

.edit-row-col {
	padding-right: 1em;
}